<div class="jumbotron">
  <h1 class="display-4">Hello, User!</h1>
  <p class="lead">
    This is a sample,
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero assumenda ad dicta velit debitis blanditiis quisquam 
    odit officiis, recusandae, corrupti a esse cum officia ex! Sunt iusto odio minima saepe.
  </p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" [routerLink]=" ['/registration'] " role="button">Employee Registration</a>
  </p>
</div>